.App {
  display: flex;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: "Trebuchet MS";
}

.conponents-container {
  flex-direction: column;
  text-align: center;
}

.response-container {
  width: 50%;
}

.camera-container {
  width: 50%;
}

.preview-container {
  width: 80%;
}

.camera-off-button {
}

.submit {
}

.button-container {
  width: 100%;
}
