.App {
  display: flex;
  align-content: center;
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.title {
  font-family: "Trebuchet MS";
}
.title-container {
  flex-grow: 1;
}
.response-container {
  flex-grow: 1;
}
.video-container {
  flex-grow: 1;
}
.preview-container {
  flex-grow: 1;
}
.button-container {
  position: absolute;
  right: 0;
  bottom: 250px;
  flex-grow: 1;
}
